@page "/teacher"

@using EduTrack.WebUI.Shared.Courses;
@using EduTrack.WebUI.Shared.Dtos.Courses;
@using Syncfusion.Blazor.Grids;

@layout PlainAdminLayout

@inject NavigationManager Navigation
@inject HttpTeacherCoursesService CoursesService

@attribute [Authorize(Roles = "teacher")]

<PlainAdminPageTitle Title="Список робіт">
    <Buttons>
        <SfButton IconCss="fa-solid fa-plus" OnClick="@CreateCourseShowModal" CssClass="e-primary e-outline">Додати курс</SfButton>
    </Buttons>
    <Breadcrumbs>
        <BreadcrumbItem Title="Панель керування" NavigationLink="/" />
        <BreadcrumbItem Title="Список курсів" />
    </Breadcrumbs>
</PlainAdminPageTitle>

<PlainAdminCard>
    <CardBody>
        <h6 class="mb-20">Навчальні курси</h6>

        @if (Courses == null)
        {
            <EduTrackSpinner></EduTrackSpinner>
        }
        else if (!Courses.Any())
        {
            <SfMessage Severity="MessageSeverity.Info">Курси відсутні</SfMessage>

        }
        else
        {
            <SfGrid DataSource="@Courses">
                <GridPageSettings PageSize="5"></GridPageSettings>
                <GridTextWrapSettings WrapMode="WrapMode.Content"></GridTextWrapSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(CourseReadDto.Id) Visible="false" IsPrimaryKey="true"></GridColumn>
                    <GridColumn HeaderText="Загальна інформація">
                        <Template>
                            @{
                                var c = (context as CourseReadDto);
                                <h6>@c.Title</h6>
                                <p><small>Навч. рік: <span class="text-primary">@c.EduYear</span>, семестр: <span class="text-primary">@c.Semestr</span></small></p>
                                <p>
                                    <small>
                                        Група/и: <span class="text-primary">@c.GroupCode</span>;
                                        @if (c.GroupsCount > 1)
                                        {
                                            <span>(підгруп: @c.GroupsCount)</span>
                                            ;
                                        }
                                        студ.: <span class="text-primary">@c.StudentsCountActualy/@c.StudentsCount</span>
                                    </small>
                                </p>
                                <p>
                                    @if (c.IsActive)
                                    {
                                        <span style="font-size:12px; font-weight:normal" class="badge bg-success"><i class="fa-solid fa-check"></i> Активний</span>
                                    }
                                    else
                                    {
                                        <span style="font-size:12px; font-weight:normal" class="badge bg-danger"><i class="fa-solid fa-xmark"></i> Неактивний</span>
                                    }
                                </p>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn>
                        <Template>
                            @{
                                var c = (context as CourseReadDto);
                                <p>
                                    <small>
                                        @if (c.LecturesHours > 0)
                                        {
                                            <span>
                                                Лекції: (<span class="text-primary">@c.LecturesHours</span>) год.,
                                                <span class="text-primary">@(c.LecturesHours / 2)/@c.LecturesActualy</span>
                                            </span>
                                            <br />
                                        }
                                        @if (c.LaboratoryHours > 0)
                                        {
                                            <span>
                                                Лабораторні: (<span class="text-primary">@c.LaboratoryHours</span>) год.,
                                                <span class="text-primary">@(c.LaboratoryHours / 2)/@c.LaboratoryActualy</span>
                                            </span>
                                            <br />
                                        }
                                        @if (c.PracticeHours > 0)
                                        {
                                            <span>
                                                Практичні: (<span class="text-primary">@c.PracticeHours</span>) год.,
                                                <span class="text-primary">@(c.PracticeHours / 2)/@c.PracticeActualy</span>
                                            </span>
                                            <br />
                                        }
                                    </small>
                                </p>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn HeaderText="Деталі" TextAlign="TextAlign.Center" Width="150">
                        <Template>
                            @{
                                var c = (context as CourseReadDto);
                                <SfButton OnClick="@(e => ViewCourseDetails(c.Id))" IsPrimary="true" IconCss="fa-regular fa-file-lines"></SfButton>
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        }
        <hr />
        <h6 class="mb-20">Інші види робіт</h6>
        @*
        @if (Courses == null)
        {
        <EduTrackSpinner></EduTrackSpinner>
        }



        @if (!Courses.Any())
        {

        }
        else
        {
        <h6 class="mb-25">Навчальні курси</h6>

        <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
        <SfDropDownList Width="100%" CssClass="" @bind-Value="@SelectedCourseStatus" TValue="string" TItem="KeyValuePair<string, string>" DataSource="@CourseStatus">
        <DropDownListFieldSettings Value="Value" Text="Key"></DropDownListFieldSettings>
        <DropDownListEvents TValue="string" TItem="KeyValuePair<string, string>" ValueChange="OnCourseStatusChange"></DropDownListEvents>
        </SfDropDownList>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">

        </div>
        </div>

        <h6 class="mb-25">Інші види робіт</h6>


        }*@
    </CardBody>
</PlainAdminCard>

 <SfDialog Width="50%" IsModal="true" @bind-Visible="@NewCourseModalVisibility">
        <DialogTemplates>
            <Header> Створення нового курсу / виду робіт </Header>
            <Content>
                <p>Оберіть, що саме Ви бажаєте додати:</p>
                <br />
            <p><SfRadioButton Label="Курс" Name="options" Value="course" @bind-Checked="courseTypeChecked"></SfRadioButton></p>
             <p><SfRadioButton Label="Інші види робіт (курсові, консультації, ЕК тощо)" Name="options" Value="othercourse" @bind-Checked="courseTypeChecked"></SfRadioButton></p>
            </Content>
        </DialogTemplates>
        <DialogButtons>
             <DialogButton Content="Відмінити" IsPrimary="false" OnClick="@CloseModal" />
            <DialogButton Content="Продовжити" IsPrimary="true" OnClick="@CreateCourseAsync" />
        </DialogButtons>
        <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
    </SfDialog>


@code {
    bool NewCourseModalVisibility = false;

    void CreateCourseShowModal()
    {
        NewCourseModalVisibility = true;
    }

    async Task CreateCourseAsync()
    {
        var newCourseIdObj = await CoursesService
        .CreateCourseAsync(courseTypeChecked == "course" 
            ? CourseCreateTypeEnum.Course 
            : CourseCreateTypeEnum.OtherCourse);

        Console.WriteLine(newCourseIdObj);
        Navigation.NavigateTo($"teacher/course/{newCourseIdObj}");
    }

    void CloseModal()
    {
        NewCourseModalVisibility = false;
    }

    string courseTypeChecked = "course";

    private IEnumerable<CourseReadDto> Courses = null;

    protected override async Task OnInitializedAsync()
    {
        Courses = await CoursesService.GetListAsync();
    }

    void ViewCourseDetails(Guid id)
    {
        Navigation.NavigateTo($"teacher/course/{id}");
    }

    string SelectedCourseStatus = "active";

    List<KeyValuePair<string, string>> CourseStatus = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("Усі", "all"),
        new KeyValuePair<string, string>("Активні", "active"),
        new KeyValuePair<string, string>("Неактивні", "nonactive")
    };
}
